<div id="<%= dom_id(group) %>">
  <%= link_to edit_group_path(group), data: { turbo_frame: "modal", controller: "modal", action: "modal#open"} do %>
    <div class="group shadow hover:shadow-xl rounded-lg p-2">
      <div class="flex justify-center pt-4">
        <span><%= group.title %></span>
      </div>
      <div class="flex justify-center invisible group-hover:visible">
        <span class="text-sm font-semibold text-slate-400">edit</span>
      </div>
    </div>
  <% end %>
</div>
