<div class="navbar bg-base-100 drop-shadow-lg rounded-xl mb-5">
  <div class="flex-1">
    <%= link_to "LinkO", root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to "List", links_path %>
      </li>
      <li>
        <%= link_to "Groups", groups_path %>
      </li>
      <li>
        <details>
          <summary>
            Parent
          </summary>
          <ul class="p-2 bg-base-100">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
